li{
  list-style-type: none;
  
  margin: 10px;
  border-bottom: 1px solid gray;
}

#main-div{
  border:2px solid red;
  width: 220px;
  height: 250px;
}

ul{
padding: 0px;
margin-top: 0px;
}

  
#last-item{
    border-bottom: none;
}

input{
    margin: 10px;
}