*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #eaeaea;
   overflow: hidden;
   
}


.container{
    position: absolute;
    top: 50%;
    left: 50% ;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0px 30PX #dbdbdb;

}

.images{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

 .slider .images:nth-child(1){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0%;
    width: 100%;
    height: 100%;
}
.slider .images:nth-child(2){
     top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0%;
    width: 100%;
    height: 100%; 
}

.slider .images:nth-child(3){
    left: 50%;
}
.slider .images:nth-child(4){
    left:calc(50% + 220px) ;
}
.slider .images:nth-child(5){
    left: calc(50% + 440px);
}
.slider .images:nth-child(6){
    left: calc(50% + 660px);
} 

.content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 280px;
    text-align: left;
    color: #000;
    transform: translate(0, -50%);
    display: none;
}
.images:nth-child(2) .content{
    display: block;
}
.content > p{
    margin-top: 10px;
    margin-bottom: 20px;
 opacity: 0;
    animation: animate 1s ease-in-out forwards;
    animation-delay: 0.3s;
}

.name{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    animation: animate 1s ease-in-out forwards;
     animation-delay: 0.6s;
   
}
.content > button{
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out forwards;
     animation-delay: 0.6s;

}
@keyframes animate{
    form{
    opacity: 0;
    filter: blur(33px);
    transform: translate(0, 100px);
}to{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}
}
.btns{
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
}
.btns > button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #888;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.5s;
}
.btns > button:hover{
    background: #ababab;
    color: #fff;
}
