*{
    box-sizing: border-box;
}

:root{
    --color1:#fff;
    --color2 : #ff0000;
    --color3 :#0e6366;
    --color4: #000;
    --bg: #fff;
    --box-shadow :0px 0px 2px 2px #333;
    --color5:#5adbb9;

}
/* body{
    position: relative;

} */

#theme{
            background-color: rgb(14, 99, 102);
            color: #fff;
            padding: 15px;
            border-radius: 10px;
            border: none;
        }
        .change-btn{
             color: var(--color3);
             background-color: var(--color1);
        }
        body.ch-color{
            /* background-color: var(--color1) !important; */
            color: var(--color1 )!important;
        }

           .like > i{
          margin-right: 15px;
          font-size: xx-large;
          cursor: pointer;


        }
        
        
        .like > input{
           border: none;
           outline: none;
           font-size: 20px;
         width: 40px;
           background-color: transparent;
           color: #555454;
        }
        #text{
            text-align: center;
        }
        .color{
            color:var(--color2);
        }
        .card{
            width: 250px;
            box-shadow:var(--box-shadow);
          

        }
        .card > img{
            width: 100%;
            height: 200px;
           
        }
        .card > p{
         margin-left: 15px;
         margin-right: 15px;
         
        }
        .like{
            display: flex;
            justify-content: center;
            padding-bottom: 10px !important;
            padding-top: 8px;
          border-top:1px solid #7e7c7c;
        }
    